{% extends 'base.html' %}
{% block content %}
<div id="profile">
    <div id="bookmarks">
        <div id="shortcuts">
            <a href="{% url 'profile' username=view.kwargs.username %}">{{view.kwargs.username}}</a>  ({{count}}) ‧
            <a href="{% url 'profile' username=view.kwargs.username %}">all</a> ‧
            <a href="{% url 'profile_favorite' username=view.kwargs.username %}">favorites</a>
        </div>
        {%if request.GET.q %}
            <p>Searched for "<strong>{{request.GET.q}}</strong>" in your bookmarks. Found {{page_obj.paginator.count}} {{page_obj.paginator.count|pluralize:"result,results"}}.</p>
        {%endif%}
        {% include "subtemplates/bookmarks.html" %}    
    </div>
    <div id="sidebar">
        <div id="search">
            {% include "subtemplates/search.html" %}
        </div>
        {%if not request.GET.q %}
        <div id="tags">
            <h3>tags</h3>
            {% for tag in tags %}
                {{tag.name}}
            {% endfor %}
            </p>
        </div>
        {%endif%}

    </div>
</div>
{% endblock %}
