{% extends 'base.html' %}
{% block content %}
<div id="main">
    <div id="bookmarks">
        {%if request.GET.q %}
            <p>Searched for "<strong>{{request.GET.q}}</strong>" in your bookmarks. Found {{page_obj.paginator.count}} {{page_obj.paginator.count|pluralize:"result,results"}}.</p>
        {%else%}
            <p>Please enter a query.</p>
        {%endif%}
        {% include "bookmarks.html" %}    
    </div>
    <div id="search">
        <form action="{% url 'search' username=view.kwargs.username %}">
            <input name="q">
            <input type="submit">
        </form>
    </div>
</div>

{% endblock %}
