html {
    overflow-y: scroll;
}

body {
    font-size: 13px;
    font-family: helvetica, sans-serif;
}

#content {
    max-width: 1284px;
    margin: 1rem auto;
}

#profile {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

#bookmarks {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    flex: 5 0 0;
}

#sidebar {
    flex: 2 0 0;
}

#search {
    justify-content: center;
    display: flex;
    align-items: center;
}

#search form {
    text-align: right;
}

#shortcuts {
    text-align: center;
    padding-bottom: 20px;
}

.bookmark {
    margin-bottom: 1.3em;
    padding: 3px;
}

.bookmark .title {
    font-size: 110%;
    color: #bb4411;
}

.bookmark .url {
    font-size: 0.9em;
    color: #888888;
}

.bookmark .time {
    font-size: 90%;
    color: #777777;
}

#banner {
    border-bottom: 1px dotted #aaa;
    padding: 5px;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}

#double {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#left {
    flex: 10 0 0;
    flex-grow: 1;
    flex-basis: 0;
}

#right {
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 0;
}

a {
    text-decoration: none;
    color: #888888;
}

a:visited {
    color: #888888
}

#top-menu a {
    padding-left: 1em;
}

.delete {
    color: #bb4411;
}

.pagination {
    align-self: center;
}

.faved {
    outline: dashed 2px #777777;
}

a.cancel-confirm {
    color: #11a;
}

a.destroy-confirm {
    color: red;
}

.star {
    display: inline;
}

.footer {
    text-align: center;
}

.edit-menu input {
    margin: 3px;
}

input {
    border: 1px solid #ddd;
}

.edit-menu input {
    font-size: 90%;
    padding: 3px;
}

#tags {
    padding: 20px;
}

span.tags a{
    color: #bb4411;
}

.prediction {
    display: inline;
    padding-left: 10px;
}
